<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col class="fond-temp">
      <ion-text class="ion-text-center" color="light">
        <h1>{{ temp }}°C</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center" >
      <ion-img src="https://openweathermap.org/img/wn/{{ icon }}@4x.png" title="{{ description }}" alt="icon {{ description }}"></ion-img>
      <h5>{{ description }}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text class="ion-text-center">
        <h2>{{ city }}</h2>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
<ion-row>
  <ion-list>
    <ion-item>
      <ion-col size="auto">
        <ion-input [(ngModel)]="cityQuery"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="weatherQuery()">🔍</ion-button>
      </ion-col>
    </ion-item>
  </ion-list>

</ion-row>

<ion-footer>
  <ion-button (click)="getWeatherLocation()" expand="block" color="warning">Me localiser</ion-button>
  <ion-button (click)="getMeteo()" expand="block">Mettre à jour</ion-button>
</ion-footer>